{% extends 'baseAdmin.html.twig' %}

{% block body -%}
    <h1>Liste des produits</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix HT</th>
                <th>Prix TTC (avec TVA)</th>
                <th>Disponible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.price|format_currency('EUR', locale='fr') }}</td>
                <td>{{ entity.price|tva(entity.tva.multiplicate)|format_currency('EUR', locale='fr') }}</td>
                <td>{{ entity.available == 1 ? 'oui':'non' }}</td>
                <td>
                    <a href="{{ path('adminProducts_show', { 'id': entity.id }) }}"><i class="icon-book"></i> Voir</a>
                    <a href="{{ path('adminProducts_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('adminProducts_new') }}">
                Créer un nouveau produit
            </a>
        </li>
    </ul>
{% endblock %}
