<!-- TODO : RAJOUTER LES MENUS AU FUR ET A MESURE -->

{% set current_path = app.request.get('_route') %}

<li class="nav-item">
    <a class="nav-link {{ ("Categories" in current_path) ? 'active' }}" href="{{ path('adminCategories') }}">
    <span data-feather="grid"></span>
    Catégories produits
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {{ ("Tva" in current_path) ? 'active' }}" href="{{ path('adminTva_index') }}">
    <span data-feather="percent"></span>
    Liste des TVAs
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {{ ("Products" in current_path) ? 'active' }}" href="{{ path('adminProducts') }}">
    <span data-feather="file"></span>
    Liste des produits
    </a>
</li>